{% extends "база.html" %}
{{ super() }}
{% block title %}About{% endblock %}
{% block content %}
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <h1>Склад групи</h1>
            <table class="table lead">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ім'я</th>
                        <th scope="col">Роль у групі</th>
                        <th scope="col">Роки</th>
                    </tr>
              </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Горшок</td>
                        <td>вокал, музика, текст</td>
                        <td>1988—2013</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Князь</td>
                        <td>вокал, музика, текст</td>
                        <td>1989—1993, 1995—2011</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Поручник</td>
                        <td>ударні</td>
                        <td>1988—1992, 1995—2013</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Балу</td>
                        <td>гітара, вокал, бас-гітара, бек-вокал</td>
                        <td>1996—2006</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Яша</td>
                        <td>соло-гітара, бек-вокал</td>
                        <td>1996—2013</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Маша</td>
                        <td>скрипка</td>
                        <td>1998—2004</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Регенат</td>
                        <td>вокал, ритм-гітара, бек-вокал</td>
                        <td>2001—2006, 2011—2013</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Каспер</td>
                        <td>скрипка, бек-вокал</td>
                        <td>2006—2011</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <main class="container text-black p-2">
        <div class="bg-light p-5 rounded">
            <h1>Нагороди</h1>
            <ul>
                <li><p class="lead">Премія "Кактус" 1994 - заснована клубом "10", як Найкраща Панк-Група Року.</p></li>
                <li><p class="lead">Премія «Найкращий кліп 2008» за версією журналу «Fuzz» за кліп «Ром».</p></li>
                <li><p class="lead">Премія «Краща пісня 2000 року» за пісню «Стригну зі скелі» за підсумками голосування підсумкової «Чартової дюжини» 2000 року на Нашому радіо.</p></li>
                <li><p class="lead">Премія "Кращий виконавець на смичкових інструментах 2007-2008" - Дмитро "Каспер" Рішко, за версією журналу "Петербурзький музикант".</p></li>
                <li><p class="lead">Премія «Найкращий вокаліст» (Михайло Горшенев) за результатами голосування підсумкової «Чартової дюжини» 2013 року на Нашому радіо.</p></li>
                <li><p class="lead">Премія "Легенда" Михайлу Горшеневу від "Нашого Радіо" у 2014 році (посмертно).</p></li>
            </ul>
        </div>
    </main>
    <main class="container text-black p-2">
        <div class="bg-light p-5 rounded">
            <h1>Майбутні тури</h1>
            <h3>Старт продажу білетів - 11 листопада. Ексклюзивно на <a class="link-secondary" href="https://iamborsch.fun/">iamborsch.fun</a>.</h3>
            <p class="lead">
                Король і Шут стали першою групою, яка зробила це в Україні – змогла змусити чекати людей в електронній черзі за квитками та зібрати понад 100 тисяч людей на своєму концерті. І тепер вони це зроблять знову на тому самому місці через чотири роки після неймовірного тріумфу.
            </p>
        </div>
    </main>
{% endblock %}
