{% extends "layout.html" %}
{{ super() }}
{% block title %}Історія{% endblock %}
{% block content %}
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <h1>Перші роки</h1>
            <p class="lead p-2">
                1987 року в Ленінграді у трьох однокласників — Михайла «Горшка» Горшенєва, Олександра «Поручика» Щиголєва та Олександра «Балу» Балунова — виникла ідея створення групи. Так на світ з'явився проект під назвою «Контора», який був орієнтований на гру в стилі «панк-рок» з відповідними текстами та музикою.
            </p>
            <p class="lead p-2">
                Знайомство Михайла Горшенева з Андрієм «Князем» Князєвим сталося 1989 року у реставраційному училищі Санкт-Петербурга і через рік кардинально змінило концепцію групи. Князєв пише на музику тексти, що є різнохарактерними міні-історіями, в основі яких лежать сюжети з російського фольклору, фентезі, міфів і легенд. Більшість історій має характер «страшних казок», інші – гумористичний, жартівливий відтінок.
            </p>
            <p class="lead p-2">
                Назву «Король і Шут» гурт узяв у 1990 році. До цього часу на обговорення музикантами виносилися такі варіанти, як «Зарізана кульбаба», «Армагеддон», «Апокаліпсис» та «Король Шутов», з яких останній і ліг в основу офіційної назви.
            </p>
        </div>
    </main>
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <h1>Початок популярності</h1>
            <p class="lead p-2">
                У 1996 році до «Короля та Шута» приєднався гітарист Яків Цвіркунов, завдяки якому аранжування композицій та гітарне звучання гурту вийшли на якісно новий, професійний рівень.
            </p>
            <p class="lead p-2">
                Про «Короля і Блазня» було знято півгодинну передачу «Біла смуга», яка неодноразово транслювалася в ефірі петербурзького телебачення. Результатом зйомок цієї програми стали чотири малобюджетні кліпи на пісні «Дурань і блискавка», «Раптова голова», «Садівник» та «Блукають тіні». Цього року побачив світ перший номерний альбом «Камнем по голове», записаний на студії «Мелодія». У тому ж році «Короля і Шута» запросили виступити на великому фестивалі «Наповнимо небо добротою», організованому гуртом «ДДТ», а також взяти участь у фестивалях, що проходили в московському ДК імені Горбунова та петербурзькому ДС «Ювілейний» із такими закордонними панк- групами, як The Toy Dolls, The Stranglers, The Exploited.
            </p>
            <p class="lead p-2">
                «Король і Шут» взяли участь у триб'юті гурту «Кіно» — «КІНОпроби», спеціально для чого записують кавер-версію пісні Віктора Цоя «Слідкуй за собою». Завдяки цьому проекту в групі з'явився другий гітарист — Олександр Леонтьєв, який раніше залучався як сесійний музикант. На той момент Леонтьєв грав у групі Олексія Горшенева «Кукринікси».
            </p>
        </div>
    </main>
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <h1>Пік популярності</h1>
            <p class="lead p-2">
                Навесні 2001 року гурт відзначив 10-річчя. До ювілею «Король і Шут» випустили збірку своїх найкращих пісень — «Збори», а також провели тур із концертами у всіх великих містах європейської частини Росії, Сибіру та Білорусії. У рамках туру гурт виступив із концертами у ДС «Ювілейний» (Санкт-Петербург) та на малій арені стадіону «Лужники» (Москва).
            </p>
            <p class="lead p-2">
                15 грудня 2001 року у столичних «Лужниках» відбулася презентація альбому «Як у старій казці». Пісня «Проклятий старий дім» із цього альбому протягом півроку займала перше місце у хіт-параді «Нашого радіо» «Чартова дюжина», відеокліп на цю композицію активно ротувався на каналах MTV та МУЗ-ТВ.
            </p>
            <p class="lead p-2">
                У червні 2003 року в Санкт-Петербурзі відбулося відкриття "фірмового" рок-клубу - "Старий дім". «Король і Шут» брали участь у створенні та оформленні майданчика, в ньому ж репетирували та часто давали концерти. У «Старому домі» виступали різномасні російські рок-гурти, проходили відбіркові тури фестивалю «Вікна відкрий!», грали британські рокери Gold Blade та метал-команди із Фінляндії. Через два роки клуб був закритий з фінансових причин.
            </p>
        </div>
    </main>
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <h1>Вихід Князєва. Повернення Ренегату. TODD</h1>
            <p class="lead p-2">
                На початку 2011 року гурт розпочав активну роботу над рок-оперою TODD, в основу сюжету якої лягла легенда про серійного вбивцю Суїні Тодде. Андрій Князєв відмовився брати участь у цьому проекті та створив сайд-групу «КняZz», призупинивши роботу в «Королі та Блазні». До нової групи Князєва приєднався і скрипаль «Короля та Шута» Дмитро Рішко.
            </p>
            <p class="lead p-2">
                У серпні 2011 року після п'ятирічної перерви до «Короля і Блазня» повернувся учасник «золотого складу» гітарист Олександр «Ренегат» Леонтьєв, на якого тепер також були покладені функції другого вокаліста, натомість відсутнього Андрія Князєва. Гурт вирушив у великий концертний тур із програмою «Король вічного сну», основу якої склали пісні з альбому «Театр Демона» в електричному аранжуванні. З поверненням у групу другого гітариста, Леонтьєва, та відсутністю скрипки концертне звучання «Короля і Блазня» помітно погіршилося. До того ж гурт перестає виконувати композиції, авторство музики яких належить Князєву («Стригну зі скелі», «Лялька чаклуна» та інші).
            </p>
            <p class="lead p-2">
                У лютому «Король і Шут» вийшов у фінал «Чартової Дюжини 2013» і виграв там у двох номінаціях: «найкраща група» та «найкращий соліст». Навесні 2013 року гурт відвідав із гастрольним туром Німеччину. У цей же період гурт розпочинає роботу над новим студійним альбомом, який за задумом музикантів мав виділятися важким звучанням у дусі альбому «Бунт на кораблі».
            </p>
        </div>
    </main>
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <h1>Смерть Михайла Горшенева та розпад групи</h1>
            <p class="lead p-2">
                У лютому «Король і Шут» вийшов у фінал «Чартової Дюжини 2013» і виграв там у двох номінаціях: «найкраща група» та «найкращий соліст». Навесні 2013 року гурт відвідав із гастрольним туром Німеччину. У цей же період гурт розпочинає роботу над новим студійним альбомом, який за задумом музикантів мав виділятися важким звучанням у дусі альбому «Бунт на кораблі».
            </p>
            <p class="lead p-2">
                22 липня у палаці спорту «Ювілейний» відбулася церемонія прощання з Михайлом Горшенєвим. Попрощатися з музикантом прийшло понад десять тисяч шанувальників. Після церемонії прощання тіло Михайла кремували, виконавши його останню волю. Спочатку порох Горшенева планували розвіяти, але 2 серпня він все ж таки був похований на Богословському цвинтарі Санкт-Петербурга.
            </p>
            <p class="lead p-2">
                7 серпня 2017 року на платформі Youtube вийшов короткометражний фільм «Фред», знятий за мотивами однойменної пісні. Режисер Антон Федотов представив його як Тізер до повнометражного фільму за мотивами пісень гурту.

                У 2022 році планується випустити ігровий серіал про групу «Король і Шут» та її фронтмен Михайла Горшенева.
            </p>
        </div>
    </main>
{% endblock %}
