{% extends "layout.html" %}
{{ super() }}
{% block title %}Вхід{% endblock %}
{% block content %}
<body>
    <main class="container p-2 text-black">
        <div class="bg-light p-5 rounded">
            <form method="post">
                <div class="d-flex justify-content-center">
                    <img src="static/kish.png" alt="">
                </div>
                <h1 class="h3 mb-3 fw-normal">Будь-ласка, зайдіть в свій аккаунт</h1>

                <div class="form-floating p-1">
                    <input type="text" class="form-control" id="floatingInput" name="login" placeholder="Username">
                    <label for="floatingInput">Ім'я користувача</label>
                </div>
                <div class="form-floating p-1">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <button class="w-100 btn btn-lg btn-dark fw-bold btn-primary" type="submit">Увійти</button>
            </form>
        </div>
    </main>
</body>
{% endblock %}
